
{{ with .Site.GetPage "index" }}

    {{ with .Params.recommended }}

        <div class="mb-10 text-center md:text-left ">
            <h2 class="text-3xl md:text-4xl font-bold text-gray-900">{{.title}}</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 justify-items-center">
            {{ range .activities }}
            {{ $page := replace . "/index" "" }}
            {{ with $.Site.GetPage $page }}
            {{ .Render "li" }}
            {{end}}
            {{ end }}

        </div>
    {{ end }}

    <div class="mt-12 mb-6">
        {{ partial "activity/see-all-activities" . }}
    </div>
{{ end }}
