
{{ with .Site.GetPage "index" }}

    {{ with .Params.recommended }}

        {{ partial "components/section-heading" (dict "eyebrow" "Hand-picked for you" "title" .title "alignment" "left" "headerAlignmentClass" "text-center md:text-left" "dividerClass" "mx-auto md:mx-0" "class" "mb-12") }}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 justify-items-center">
            {{ range .activities }}
            {{ $page := replace . "/index" "" }}
            {{ with $.Site.GetPage $page }}
            {{ .Render "li" }}
            {{end}}
            {{ end }}

        </div>
    {{ end }}

    <div class="mt-12 mb-6">
        {{ partial "activity/see-all-activities" . }}
    </div>
{{ end }}
