# Build artifacts
resources/
public/
hugo_stats.json
.hugo_build.lock

# Dependencies
node_modules/
package-lock.json

# Backstop output
backstop_data/bitmaps_test/
backstop_data/html_report/
backstop_data/ci_report/

# OS files
.DS_Store
.localized
Thumbs.db