<!-- Inspiration Card -->
<article class="bg-white border border-gray-200 hover:border-gray-300 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 overflow-hidden group cursor-pointer">
    <a href="{{ .RelPermalink }}" class="h-100 hover:cursor-pointer focus:outline-none focus:ring-4 focus:ring-[#e09a00]/30" aria-label="Read {{ .Title }}">

        <div class="relative">
            <div class="absolute inset-0 bg-black opacity-40 group-hover:opacity-50 transition-opacity duration-300 z-30"></div>

            <div>
                {{ range first 1 .Params.images }}
                    {{ partial "components/images/image.html" (dict "src" .src "alt" .alt "preset" "card") }}
                {{ end }}
            </div>

            <div class="absolute inset-0 z-50 flex flex-col items-center justify-center text-white px-6">
                <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold max-w-[500px] text-center leading-tight">{{ .Title }}</h2>
                <span class="mt-8 inline-flex items-center gap-2 border border-white px-6 py-2 font-semibold text-base group-hover:bg-white/10 transition-all duration-300">
                    <span>Read more</span>
                    <svg class="w-4 h-4 transition-transform duration-300 group-hover:translate-x-1" 
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" 
                         width="24" 
                         height="24" 
                         fill="none" 
                         viewBox="0 0 24 24">
                      <path stroke="currentColor" 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            stroke-width="2" 
                            d="M19 12H5m14 0-4 4m4-4-4-4"/>
                    </svg>
                </span>
            </div>
        </div>
    </a>
</article>
