{{ define "main" }}



<div class="container">

    <div class="rounded overflow-hidden shadow">
        {{ with index .Params.images 0 }}
        {{ partial "components/images/image-banner" . }}
        {{ end }}

        <div class=" bg-white">
            <div class="mx-auto px-4 2xl:px-0 max-w-2xl">
                <div class="py-12 prose ">
                    <h1 class="">{{.Title}}</h1>
                    {{.Content }}
                </div>
            </div>
        </div>
    </div>
</div>


{{ with .Params.related_activities }}
<div class="container flex-col justify-center">
    <div>
        <div class="font-semibold text-2xl mb-6 text-center w-full">
            <h2>Related Activities</h2>
        </div>
        <br>
        <div class="grid md:grid-flow-col gap-4 justify-items-center">
            {{ range . }}
            {{ $page := replace . "/index" "" }}
            {{ with $.Site.GetPage $page }}

            <div class="max-w-sm">
                {{ .Render "li" }}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ end }}