<footer class="bg-gray-950 text-white">
    <div class="container">
        <div class="grid gird-cols-1 md:grid-cols-2 gap-12 md:gap-4 w-full">
            <div>
                <h3 class="text-xl">{{.Site.Title}}</h3>
                {{ with .Site.Params.email}}
                <a href="mailto:{{.}}" class="block mt-3 text-sm">{{ i18n "email"}}: {{.}}</a>
                {{ end }}
                {{ with .Site.Params.phone}}
                <a href="tel:{{.}}" class="block mt-3 text-sm">{{ i18n "phone" }}: {{.}}</a>
                {{ end }}
                <br>
                {{ with .Site.Params.orgnr}}
                <span class="block mt-3 text-sm">Orgnr: {{.}}</span>
                {{ end }}
                {{ with .Site.Params.address}}
                <span class="block mt-3 text-sm">Address: {{.}}</span>
                {{ end }}
            </div>


            <div>
                <label class="flex justify-end text-sm hover:underline">
                    <a href="https://balevikit.no">Webdesign: Balevik IT</a>
                </label>
            </div>
        </div>

    </div>

    {{ partial "components/to-top-button.html" . }}
</footer>