<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.css" rel="stylesheet" />

  {{ partial "seo/meta.html" . }}
  
  {{ partial "utils/css.html" . }}
  {{ partial "utils/js.html" . }}

  {{ partial "custom-script-head.html" . }}
</head>

<body class="bg-[#f5f5f5]">

  {{ partial "layout/header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "layout/footer.html" . }}



</body>

{{ partial "custom-script.html" . }}

</html>