{{ define "main" }}

{{ $example := index .Site.Data.example.images 0}}

<div class="container">
    <div class="grid grid-cols-1 gap-8">

        <div>
            Dynamic
            {{ partial "components/images/image-dynamic.html" $example }}
        </div>


        <div>
            Fluid
            {{ partial "components/images/image-fluid.html" $example }}
        </div>

        <div>
            Banner
            {{ partial "components/images/image-banner.html" $example }}
        </div>
    </div>
</div>

<div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div>
            thumbnail
            {{ partial "components/images/thumbnail.html" $example }}
        </div>
        <div>
            square
            {{ partial "components/images/image-square.html" $example }}
        </div>
    </div>
</div>

<div class="container">
    <div class="grid grid-cols-2 gap-8">


        {{ $example_carousel := .Site.Data.example.images }}

        <div class="col-span-2">
            Carousel Banner
            {{ with $example_carousel }}
            {{ partial "components/images/carousel-banner" . }}
            {{ end }}
        
            
        </div>

        <div class="col-span-2 lg:col-span-1">
            Carousel Square
            {{ partial "components/images/carousel-square" $example_carousel }}
            
        </div>

       
    </div>
</div>



{{ end }}