{{- $ISO8601 := "2006-01-02T15:04:05-07:00" -}}

{{ if not .IsHome }}
<!-- ARTICLE -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
    "headline": "{{ .Title }}",
    "description": "{{ .Page.Params.description }}",
  "author": {
    "@type": "Person",
    "name": "{{.Site.Title}}"
  },
  {{ $pubDate := .Date }}
  {{ if .Date.IsZero }}
    {{ with .GitInfo }}
      {{ with .Ancestors.Reverse | first 1 }}
        {{ range . }}
          {{ $pubDate = .AuthorDate }}
        {{ end }}
      {{ else }}
        {{ $pubDate = .AuthorDate }}
      {{ end }}
    {{ end }}
  {{ end }}
  "datePublished": "{{ $pubDate.Format $ISO8601 | safeHTML }}",
  "dateModified": "{{ .Lastmod.Format $ISO8601 | safeHTML }}",
  {{- with .Page.Params.images -}}
    {{- range first 1 . -}}
      {{ $image := resources.GetMatch .src }}
  "image": "{{ $image.Permalink }}"
    {{- end -}}
  {{- else -}}
  "image": "{{ .Site.Params.brand_image | absURL }}"
  {{- end -}}
}
</script>
{{ end }}