{{ define "main" }}

<div class="container py-8">
    <div class="bg-white border border-gray-200 grid grid-cols-1 lg:grid-cols-2">
        <div class="p-8 h-full flex order-2 lg:order-1">
            <div class="format lg:format-lg mx-auto my-auto">
                <h2>Real, Fjord, Adventures</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi odit nemo doloremque
                    vel mollitia officia
                    laudantium? Nisi deserunt cumque, consequatur nam tenetur aperiam, ab, voluptate corrupti ex porro a
                    dolorum.</p>

                <button type="button"
                    class="mt-5 text-white bg-[#b76450] px-5 py-2.5 me-2 mb-2 inline-flex items-center">
                    Find your next fjordadventure
                    {{ partial "arrow.html" . }}
                </button>
            </div>
        </div>
        <div class="order-1 lg:order-2">
            {{ with .Params.banner_image }}
                {{ partial "components/image-banner.html" . }}
            {{ end }}
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container py-12">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">

            {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}

                {{ $color := "bg-[.Params.color]"}}
                <a href={{ .RelPermalink }}>
                <div style="background-color: {{.Params.color}};" class="border border-gray-200 text-xl text-white p-5 text-center">
                        <div class="inline-flex items-center">
                            
                                {{.Title}}
                            
                            {{ partial "arrow.html" . }}
                        </div>
                    </div>
                    </a>
            {{end}}
            {{end}}
           
        </div>
    </div>
</div>

{{ end }}