{{ define "main" }}

{{ $blur_filter := images.GaussianBlur 100 }}
{{ $image_path := "images/katrine-web.jpg"}}
{{ $image := resources.GetMatch $image_path | images.Filter $blur_filter | images.Filter (images.Contrast 30)}}
{{ $backgroundImage := $image.Resize "x600 q50" }}

<!-- Default Page Layout -->
<section data-section="page-content" style="background-image: url('{{ $backgroundImage.Permalink }}'); background-size: cover; background-position: center;">
    <div class="py-12 md:py-16 flex items-center justify-center">
        <article class="bg-white md:rounded-xl p-8 shadow-lg max-w-4xl w-full mx-auto border border-gray-300">
            <div class="prose prose-md mx-auto">
                {{ .Content }}
            </div>
        </article>
    </div>
</section>

{{ end }}