{{ define "main" }}

{{ $blur_filter := images.GaussianBlur 100 }}
{{ $image_path := "images/katrine-web.jpg"}}
{{ $image := resources.GetMatch $image_path | images.Filter $blur_filter | images.Filter (images.Contrast 30)}}
{{ $backgroundImage := $image.Resize "x600 q50" }}

<!-- Default Page Layout -->
<section class="bg-hero" style="background-image: url('{{ $backgroundImage.Permalink }}');">
    <div class="py-12 md:py-16 flex items-center justify-center">
        <article class="bg-white md:rounded-lg p-8 shadow max-w-4xl w-full mx-auto border border-gray-300">
            <div class="mx-auto prose">
                {{ .Content }}
            </div>
        </article>
    </div>
</section>

{{ end }}