#local_backend: true
editor:
  preview: false
backend:
  name: git-gateway
  branch: master
media_folder: /assets/images
public_folder: 'images'
collections:
  - name: 'activities'
    label: 'Activities'
    folder: 'content/activities'
    path: "{{slug}}/index"
    summary: "{{quality}} - {{title}}"
    create: true
    slug: '{{slug}}-{{minute}}{{second}}'
    filter:
          field: cms
          value: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Quality', name: 'quality', widget: 'string' }
      - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
      - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
      - label: "Aliases"
        name: "aliases"
        widget: "list"
        required: false
        hint: "Alternativ url for aktiviteten"
        field:
          label: "Alias"
          name: "alias"
          widget: "string"
      - label: 'Images'
        name: 'images'
        min: 1
        max: 10
        widget: 'list'
        media_folder: /assets/images
        public_folder: 'images'
        fields:
          - { label: 'Image Source', name: 'src', widget: 'image', required: true }
          - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }

      - label: 'Categories'
        name: 'tags'
        widget: 'select'
        multiple: true
        options:
          - { label: 'Business and Pleasure', value: 'business-and-pleasure' }
          - { label: 'Bike and Hike', value: 'bike-and-hike' }
          - { label: 'Family and Friends', value: 'family-and-friends' }
        required: true

      - label: "Information"
        name: "information"
        widget: "object"
        collapsed: true
        fields:
          - label: "Options"
            name: "options"
            widget: "object"
            fields:
              - {label: Add global practical, name: global_practical, widget: boolean, default: false, required: false}
              - {label: "Add global practical (bike)", name: global_bike_practical, widget: boolean, default: false, required: false}
              - {label: Add global included, name: global_included, widget: boolean, default: false, required: false}
              - {label: Varde Experience Quality, name: varde_experience_quality, widget: boolean, default: false, required: false}
          - label: "Practical"
            name: "practical"
            widget: "list"
            summary: '{{fields.info}}'
            field: {label: Info,name: info,widget: string}
          - label: "Included"
            name: "included"
            widget: "list"
            summary: '{{fields.info}}'
            field: {label: Info,name: info,widget: string}

      - label: "Product info"
        name: "product_info"
        widget: "object"
        collapsed: true
        fields: 
          - label: "Duration"
            name: "duration"
            widget: 'object'
            collapse: true
            fields: 
              - label: 'Hours'
                name: 'hours'
                widget: 'select'
                required: true
                options:
                  - { label: '0 hours', value: 0 }
                  - { label: '1 hour', value: 1 }
                  - { label: '2 hours', value: 2 }
                  - { label: '3 hours', value: 3 }
                  - { label: '4 hours', value: 4 }
                  - { label: '5 hours', value: 5 }
                  - { label: '6 hours', value: 6 }
                  - { label: '7 hours', value: 7 }
                  - { label: '8 hours', value: 8 }
              - label: 'Minutes'
                name: 'minutes'
                required: false
                widget: 'select'
                options:
                  - { label: '0 minutes', value: 0 }
                  - { label: '15 minutes', value: 15 }
                  - { label: '30 minutes', value: 30 }
                  - { label: '45 minutes', value: 45 }

          - label: 'Max Persons'
            name: 'persons'
            widget: 'select'
            required: true
            multiple: false
            options:
              - { label: '1', value: '1' }
              - { label: '2', value: '2' }
              - { label: '3', value: '3' }
              - { label: '4', value: '4' }
              - { label: '5', value: '5' }
              - { label: '6', value: '6' }
              - { label: '7', value: '7' }
              - { label: '8', value: '8' }
          
          - label: "Prices for Each Person"
            name: "prices"
            widget: "list"
            min: 1
            max: 8
            fields:
              - label: "Person Number"
                name: "person_number"
                widget: "number"
                hint: "Enter the person number (e.g., 1, 2, 3...)"
              - label: "Price"
                name: "price"
                widget: "number"
                hint: "Enter the price for this number of persons"

      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Cms', name: 'cms', widget: 'hidden', default: true }

  - name: 'inspirations'
    label: 'Inspirations'
    folder: 'content/inspirations'
    path: "{{slug}}/index"
    create: true
    slug: '{{slug}}-{{minute}}{{second}}'
    filter:
          field: cms
          value: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
      - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
      - label: "Aliases"
        name: "aliases"
        widget: "list"
        hint: "Peke gamle inspirasjon til denne inspirasjonen"
        field:
          label: "Alias"
          name: "alias"
          widget: "string"
      - label: 'Images'
        name: 'images'
        widget: 'list'
        min: 1
        max: 10
        media_folder: /assets/images
        public_folder: 'images'
        fields:
          - { label: 'Image Source', name: 'src', widget: 'image', required: true }
          - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }

      - { label: 'Body', name: 'body', widget: 'markdown' }
      - label: "Related activities"
        name: "related_activities"
        widget: "list"
        summary: '{{fields.title}}'
        allow_add: true
        required: false
        min: 1
        max: 3
        field: {label: Activity,name: related_activities,widget: relation,collection: activities,search_fields: ["title"],value_field: '{{slug}}',display_fields: ["quality","title"]}
      - { label: 'Cms', name: 'cms', widget: 'hidden', default: true }
  
  - name: 'pages'
    label: "Pages"
    files:
      - file: "content/_index.md"
        label: "Frontpage" 
        name: "frontpage"
        delete: false
        fields:
          - {label: Title, name: title, widget: string}
          - { label: 'Description', name: 'description', widget: 'text', pattern: ['^.{0,397}$', 'Max 397 characters'] }
          - { label: 'Action button', name: 'action_button', widget: 'string'}
          - label: 'Banner Image'
            name: 'images'
            widget: 'list'
            min: 1
            max: 1
            allow_multiple: false
            fields:
              - { label: 'Image Source', name: 'src', widget: 'image', required: true }
              - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }
          
          - label: "Categories"
            name: "categories"
            widget: "object"
            collapsed: true
            fields: 
              - { label: 'Categories title', name: 'title', widget: 'string' }

          - label: "Recommended activities"
            name: "recommended"
            widget: "object"
            collapsed: true
            fields: 
              - { label: 'Recommended title', name: 'title', widget: 'string' }
              - label: "Recommended activities"
                name: "activities"
                widget: "list"
                summary: '{{fields.title}}'
                allow_add: true
                min: 3
                max: 3
                field: {label: Activity,name: recommended_activities,widget: relation,collection: activities,search_fields: ["title"],value_field: '{{slug}}',display_fields: ["quality","title"]}
                

          - label: "Recommended inspirations"
            name: "inspirations"
            widget: "object"
            collapsed: true
            fields: 
              - { label: 'Inspiration title', name: 'title', widget: 'string' }
              - label: "Recommended inspirations"
                name: "inspirations"
                widget: "list"
                summary: '{{fields.title}}'
                allow_add: true
                min: 2
                max: 2
                field: {label: Inspiration,name: recommended_inspirations,widget: relation,collection: inspirations,search_fields: ["title"],value_field: '{{slug}}',display_fields: ["title"]}

      - file: "content/about/_index.md"
        label: "About" 
        name: "About"
        delete: false
        fields:
          - {label: Title, name: title, widget: string}
          - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
          - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
          - label: 'Banner Image'
            name: 'images'
            widget: 'list'
            min: 1
            max: 1
            allow_multiple: false
            fields:
              - { label: 'Image Source', name: 'src', widget: 'image', required: true }
              - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }
          - { label: 'Body', name: 'body', widget: 'markdown' }

      - file: "content/tags/bike-and-hike/_index.md"
        label: "Bike and hike" 
        name: "bike-and-hike"
        delete: false
        fields:
          - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
          - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
          - label: 'SEO (image)'
            name: 'images'
            widget: 'list'
            min: 1
            max: 1
            allow_multiple: false
            fields:
              - { label: 'Image Source', name: 'src', widget: 'image', required: true }
              - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }


      - file: "content/tags/business-and-pleasure/_index.md"
        label: "Business and pleasure" 
        name: "business-and-pleasure"
        delete: false
        fields:
          - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
          - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
          - label: 'SEO (image)'
            name: 'images'
            widget: 'list'
            min: 1
            max: 1
            allow_multiple: false
            fields:
              - { label: 'Image Source', name: 'src', widget: 'image', required: true }
              - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }


      - file: "content/tags/family-and-friends/_index.md"
        label: "Family and friends" 
        name: "family-and-friends"
        delete: false
        fields:
          - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
          - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
          - label: 'SEO (image)'
            name: 'images'
            widget: 'list'
            min: 1
            max: 1
            allow_multiple: false
            fields:
              - { label: 'Image Source', name: 'src', widget: 'image', required: true }
              - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }


      - file: "content/activities/_index.md"
        label: "Activities" 
        name: "activities"
        delete: false
        fields:
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
          - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
          - label: 'SEO (image)'
            name: 'images'
            widget: 'list'
            min: 1
            max: 1
            allow_multiple: false
            fields:
              - { label: 'Image Source', name: 'src', widget: 'image', required: true }
              - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }

      - file: "content/inspirations/_index.md"
        label: "Inspirations" 
        name: "inspirations"
        delete: false
        fields:
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: "SEO (search optimalization keywords)", name: "keywords", widget: "list" }
          - { label: 'SEO (search optimalization shorttext)', name: 'description', widget: 'text', pattern: ['^.{0,160}$', 'Max 160 characters'] }
          - label: 'SEO (image)'
            name: 'images'
            widget: 'list'
            min: 1
            max: 1
            allow_multiple: false
            fields:
              - { label: 'Image Source', name: 'src', widget: 'image', required: true }
              - { label: 'Image Alt', name: 'alt', widget: 'string', required: false }
          
      - file: "content/LLMs.md"
        label: "LLMs" 
        name: "LLMs"
        delete: false
        fields:
          - { label: 'Body', name: 'body', widget: 'markdown' }

      - file: "content/request_confirmation/_index.md"
        label: "Request Confirmation" 
        name: "Request"
        delete: false
        fields:
          - { label: Title, name: title, widget: string }
          - { label: 'Body', name: 'body', widget: 'markdown' }

  - name: 'global'
    label: "Global"
    files:
      - file: "data/information.yml"
        label: "Global Practical and Included"
        name: "information"
        widget: "object"
        collapsed: true
        fields: 
          - label: "Practical"
            name: "practical"
            widget: "list"
            summary: '{{fields.info}}'
            field: {label: Info,name: info,widget: string}
          - label: "Included"
            name: "included"
            widget: "list"
            summary: '{{fields.info}}'
            field: {label: Info,name: info,widget: string}
          - label: "Bike Rental Practical"
            name: "bike_rental_practical"
            widget: "list"
            summary: '{{fields.info}}'
            field: {label: Info,name: info,widget: string}

      - file: "data/configuration.yml"
        label: "Site Configuration"
        name: "configuration"
        widget: "object"
        collapsed: true
        fields: 
          - label: "Global Activity Label"
            name: "global_activity_label"
            widget: "string"


