{{ define "main" }}

{{ partial "components/banner.html" . }}

<div class="container">
    <div class="row py-3 g-3 py-lg-4 g-lg-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">

        {{ $paginator := .Paginate .Pages }}
        {{ range $paginator.Pages }}
            <div class="col">
                {{ .Render "li"}}
            </div>
        {{ end }}

    </div>

    <div class="row justify-content-center">
        <div class="col-lg-5">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>

</div>

{{ end }}

