{{ define "main" }}

{{ $page := .Page }}
{{ with .Page.Params.images }}
<div class="banner pb-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-12">
                {{ partial "components/image-col-12.html" (dict "ctx" . "images" . ) }}
            </div>

            <div class="col-12">
                <h1 class="h3">{{$page.Params.title}}</h1>
            </div>

        </div>
    </div>
</div>
{{ end }}

<div class="container py-3 py-lg-4">
    <div class="row">
        <div class="col-lg-12">
            {{.Content}}
        </div>
    </div>
</div>


{{ end }}