{{ define "main" }}

<div class="container py-8">
    <div class="bg-white grid grid-cols-1 lg:grid-cols-2 shadow mx-auto">
        <div class="px-4 py-8 md:p-8 h-full flex order-2 lg:order-2">
            <div class="format lg:format-lg max-w-none mx-auto my-auto">

                <div class="text-sm flex flex-wrap list-none gap-3 mb-4">
                    {{range .Params.tags}}
                    {{ with $.Site.GetPage (printf "/tags/%s" .) }}

                    <label>
                        <a href="{{.RelPermalink}}" style="background-color: {{.Params.color}};" aria-current="page"
                            class="px-2 rounded-lg text-white py-1 no-underline border hover:border-gray-900">
                            {{.Title}}
                        </a>
                    </label>
                    {{ end }}
                    {{ end }}
                </div>

                <h2>{{.Title}}</h2>

                {{ with .Params.product_info}}
                <div class="text-sm md:text-base flex flex-wrap gap-4 mb-4">
                    
                    {{ with .price }}
                    <label class="inline-flex items-center"><svg class="w-6 h-6 text-gray-800 mr-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"
                                clip-rule="evenodd" />
                            <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                        </svg>
                        Starting at {{.}},- NOK
                    </label>
                    {{ end }}

                    {{ with .duration }}
                    <label class="inline-flex items-center"><svg class="w-6 h-6 text-gray-800 mr-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                                clip-rule="evenodd" />
                        </svg>
                        {{.}} hours
                    </label>
                    {{ end }}

                    {{ with .persons }}
                    <label class="inline-flex items-center">
                        <svg class="w-6 h-6 text-gray-800 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
                                clip-rule="evenodd" />
                        </svg>
                        Max {{.}} persons
                    </label>
                    {{ end }}

                </div>
                {{ end }}

                {{ with .Params.description }}
                <p class="text-gray-600 text-base">
                    {{ . }}
                </p>
                {{ end }}

                <a href="{{.RelPermalink}}"
                    class="text-base mt-5 text-white bg-[#b76450] px-5 py-2.5 inline-flex items-center no-underline rounded-lg">
                    Make a request
                    {{ partial "arrow.html" . }}
                </a>
            </div>
        </div>
        <div class="order-1 lg:order-1 align-center justify-center">
            {{ with .Params.images }}
            {{ partial "components/carousel-fluid" . }}
            {{ end }}
        </div>
    </div>

    <div class="rounder-lg px-0 py-8 md:p-8 shadow bg-gray-50">
        <div class="mx-auto max-w-4xl">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
                data-tabs-toggle="#default-styled-tab-content"
                data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
                data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
                role="tablist">
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="about-styled-tab"
                        data-tabs-target="#styled-about" type="button" role="tab" aria-controls="about"
                        aria-selected="false">
                        About
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button
                        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                        id="practical-styled-tab" data-tabs-target="#styled-practical" type="button" role="tab"
                        aria-controls="practical" aria-selected="false">Practical information</button>
                </li>
            </ul>
        </div>
        <div id="default-styled-tab-content">
            <div class="mx-auto max-w-4xl">
                <div class="hidden p-4 rounded-lg " id="styled-about" role="tabpanel" aria-labelledby="profile-tab">
                    {{ partial "activity/about" . }}
                </div>
                <div class="hidden p-4 rounded-lg  " id="styled-practical" role="tabpanel"
                    aria-labelledby="dashboard-tab">
                    {{ partial "activity/practical" . }}
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container pb-12 pt-6 flex justify-center">
    {{ with .GetPage "activeties" }}
    <a href="{{.RelPermalink}}"
        class="text-white bg-[#7a8992] hover:shadow-lg px-5 py-2.5 me-2 inline-flex items-center no-underline rounded-lg">
        
        <svg class="w-5 h-5 mr-2 mt-1 text-white align-middle" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 12h14M5 12l4-4m-4 4 4 4" />
        </svg>
        
        See all Activities
    </a>
    {{ end }}
</div>
{{ end }}