@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility container {
  @apply mx-auto py-12 md:py-16 lg:py-24 px-4 xl:px-0 max-w-[1250px]
}

html {
  @apply bg-gray-50 text-slate-900 leading-relaxed;
  @apply antialiased
}

img, svg, video {
  @apply max-w-full h-auto;
}