<div class="prose lg:prose-xl text-gray-700">

        <h2 class="text-3xl md:text-4xl font-bold text-gray-900">Included</h2>
        <ul>
            {{range .Params.information.included }}
                <li>{{.}}</li>
            {{ else }}
                {{ if eq .Params.information.options.global_included false }}
                    <li>No information available.</li>
                {{ end}}
            {{ end }}

            {{ if eq .Params.information.options.global_included true }}
            {{range .Site.Data.information.included }}
                <li>{{.}}</li>
            {{ end }}
            {{ end }}
        </ul>

        <h2 class="mt-4 text-3xl md:text-4xl font-bold text-gray-900">Practical</h2>
        <ul>
            {{range .Params.information.practical }}
                <li>{{.}}</li>
            {{ else }}
                {{ if eq .Params.information.options.global_practical false}}
                    <li>No information available.</li>
                {{ end }}
            {{ end }}

            {{ if eq .Params.information.options.global_practical true}}
            {{range .Site.Data.information.practical }}
                <li>{{.}}</li>
            {{ end }}
            {{ end }}

            {{ if eq .Params.information.options.global_bike_practical true }}
            {{range .Site.Data.information.bike_rental_practical}}
                <li>{{.}}</li>
            {{ end }}
            {{ end }}
        </ul>


</div>