{{/*
Usage:
{{ with .Params.images }}
    {{ partial "components/images/carousel-square" . }}
{{ end }}

Object:
images:
- src: image.jpg
- src: image.jpg
*/}}

<div id="default-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-[400px] md:h-[450px] overflow-hidden">
        {{ range . }}
            {{ $image := resources.GetMatch .src }}
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                {{ partial "components/images/image-square.html" .}}
            </div>
        {{ end }}
    </div>


    {{ partial "components/images/utils/carousel-controls" . }}
</div>