{{/*
    Usage:
    {{ partial "components/images/image.html" . }}

Data:
image_1:
src: "images/sample-4.jpg"
alt: ""
*/}}

{{ $contrast := site.Params.contrast | default 5 }}
{{ $filter := images.Contrast $contrast }}
{{ $image := resources.GetMatch .src | images.Filter $filter }}
{{ $image_large := $image.Fill "404x303 q80 webp" }}

<picture>
    <img style="aspect-ratio: 4/3;" class="object-cover w-full max-h-[425px]" {{ with .alt }}alt="{{ . }}" {{ end }} loading="lazy"
        src="{{ $image_large.RelPermalink }}" width="{{ $image_large.Width }}" height="{{ $image_large.Height }}">
</picture>
