{{ define "main" }}

{{ $blur_filter := images.GaussianBlur 100 }}
{{ $image_path := index .Params.images 0}}
{{ $image := resources.GetMatch $image_path.src | images.Filter $blur_filter | images.Filter (images.Contrast 30)}}
{{ $backgroundImage := $image.Resize "x600 q50" }}
<div
    style="background-image: url('{{ $backgroundImage.Permalink }}'); background-size: cover; background-position: center;">
    
    <div class="container bg-white">
        <section class="py-12 bg-white">
            <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                <div class="mx-auto max-w-5xl prose">
                    <div class="mx-auto max-w-2xl">
                        {{.Content }}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
{{ end }}