<div class="bg-[#f3f5f7] shadow">
    <div class="grid grid-cols-1 xl:grid-cols-2 mx-auto overflow-hidden">
        <div class="px-4 py-4 md:p-8 h-full flex order-2 lg:order-2 bg-white">
            <div class="prose max-w-none mx-auto my-auto">
                <h2 class="text-3xl md:text-4xl">
                    {{.Title}}
                </h2>
                
                <p>{{.Params.description}}</p>

                <a href="{{ .RelPermalink }}"
                    class="mt-2 text-white bg-[#e09a00] px-5 py-2.5 me-2 mb-2 inline-flex items-center no-underline rounded-lg">
                    Read more
                    {{ partial "arrow.html" . }}
                </a>


            </div>
        </div>
        <div class="order-1 lg:order-1 align-center justify-center">
            {{ with .Params.images }}
                {{ partial "components/images/carousel-square" . }}
            {{ end }}
        </div>

    </div>
</div>