<!-- Activity Highlight Card -->
<article class="bg-[#f3f5f7] shadow-lg rounded-lg overflow-hidden">
    <div class="grid grid-cols-1 xl:grid-cols-2">
        <div class="px-4 py-4 md:p-8 h-full flex order-2 lg:order-2 bg-white">
            <div class="prose lg:prose-xl max-w-none mx-auto my-auto">
                <h2 class="text-3xl md:text-4xl font-bold leading-tight text-gray-900">
                    {{ .Title }}
                </h2>
                
                <p>{{ .Params.description }}</p>

                <a href="{{ .RelPermalink }}"
                    class="mt-2 text-white bg-[#e09a00] hover:bg-[#d08900] px-5 py-2.5 me-2 mb-2 inline-flex items-center no-underline rounded-lg transition-colors duration-300"
                    aria-label="Read more about {{ .Title }}">
                    Read more
                    {{ partial "arrow.html" . }}
                </a>
            </div>
        </div>
        <div class="order-1 lg:order-1 align-center justify-center">
            {{ with .Params.images }}
                {{ partial "components/images/carousel-square" . }}
            {{ end }}
        </div>
    </div>
</article>